.card-container {
    display: grid;
    padding: 1em;
    grid-template-columns: repeat(2, 1fr);
    gap: 2ch;
    max-width: 700px;

    .card {
        border: 0.1ch solid palevioletred;
        border-radius: 1ch;
        box-shadow: plum 0.25ch 0.25ch 0.25ch;
        padding: 0.5ch;
        text-align: center;
        font-family: sans-serif;

        .title {
            font-size: 1.2em;
            font-weight: bold;
            color: palevioletred;
            font-family: cursive;
        }

        .desc {
            font-size: 0.9em;
            font-style: oblique;
        }

        .price {
            color: navy;
            font-weight: 500;
        }

        .price.promo {
            color: mediumvioletred;
        }
    }
}