@font-face {
    font-family: 'Christmaseve';
    src: url(./../../assets/fonts/christmaseve.ttf);
}

.header {
    background-color: navy;
    font-family: 'Christmaseve';
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;
    color: snow;
    gap: 1ch;
}

.header h1 {
    font-weight: normal;
    font-size: 3.5em;
}

.header img {
    align-self: stretch;
}